.u-section-1 {
  background-position: 50% 54.24%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75));
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 226px 320px 0 371px;
}

.u-section-1 .u-text-2 {
  margin: 159px 320px 60px 371px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-text-1 {
    width: 436px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 449px;
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-size: 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-text-1 {
    width: 442px;
    margin-top: 211px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 50.24% 54.24%;
    background-size: 180%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 71px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
    margin-left: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 82.58% 68.02%;
    background-size: auto 185%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 191px;
    margin-left: 24px;
    margin-right: 24px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 950px;
}

.u-section-2 .u-form-1 {
  height: 790px;
  margin: 41px 0 0 67px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  width: 100%;
}

.u-section-2 .u-form-group-6 {
  width: 100%;
}

.u-section-2 .u-form-group-7 {
  width: 100%;
}

.u-section-2 .u-form-group-8 {
  width: 100%;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-form-group-10 {
  width: 100%;
}

.u-section-2 .u-form-group-11 {
  width: 100%;
}

.u-section-2 .u-form-group-12 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-2 .u-text-1 {
  margin: 30px 340px 60px 368px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 570px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: 294px;
    margin-left: 268px;
    margin-right: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 158px;
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 68px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-group-4 {
    width: 100%;
  }

  .u-section-2 .u-form-group-9 {
    width: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}